#error-page
  div.columns
    div.column.is-one-fifth
      div.content.has-text-centered
        i.fas.fa-exclamation-circle.fa-5x.fa-spin
    div.column
      div.content
        h1.title.is-1 {{statusCode}}
        p.subtitle.is-4 {{message}}
