div
  div.content(v-for="(data, i) in content" :key="i")
    h3.title.is-3(:id="data.id") {{$t(data.title)}}

    div.tile.is-ancestor(v-for="items of data.content")
      div.tile.is-parent(v-for="item of items")
        article.tile.is-child.box(v-if="item !== null")
          nuxt-link(:to="$i18n.path(item.link)" exact)
            p.title.is-4 {{$t(item.title)}}
            p.subtitle {{$t(item.subtitle)}}
