div.container key="confirm-cookie-container"
   div.columns
      div.column.is-8-desktop.is-offset-2-desktop
         div.notification.is-info
            p
               ---
               Le site utilise des cookies pour améliorer votre confort d'utilisation. 
               ---
               a href="/about#cookies" -- Plus d'informations sur ce que nous enregistrons.

            div.buttons.is-centered
               button.button.is-primary.is-centered key="confirm-cookie" -- Ok
