.NoAge-header {
   background-color: #662211;
}
.BronzeAge-header {
   background-color: #b78d13;
}
.IronAge-header {
   background-color: #984420;
}
.EarlyMiddleAges-header {
   background-color: #4e8144;
}
.HighMiddleAges-header {
   background-color: #2f8e8e;
}
.LateMiddleAges-header {
   background-color: #7f4285;
}
.ColonialAge-header {
   background-color: #ce6404;
}
.IndustrialAge-header {
   background-color: #a72926;
}
.ProgressiveEra-header {
   background-color: #b6895b;
}
.ModernEra-header {
   background-color: #465d88;
}
.PostmodernEra-header {
   background-color: #8d9292;
}
.ContemporaryEra-header {
   background-color: #ce654a;
}
.Tomorrow-header {
   background-color: #22272c;
}
.TheFuture-header {
   background-color: #8dc73f;
}
.ArcticFuture-header {
   background-color: #e9f7f7;
   color: black;
}
.OceanicFuture-header {
   background-color: #225a4b;
}
