$ let i18nPrefix = 'routes.secure_position.';

site-layout currentLocation="secure_position"
   @title -- ${global.i18n(i18nPrefix + 'title')}
   @hero
      h1.title.is-2.is-spaced -- ${global.i18n(i18nPrefix + 'hero.title')}
      h2.subtitle.is-4 -- ${global.i18n(i18nPrefix + 'hero.subtitle')}
   @content
      secure-position
