site-layout currentLocation="secure_position"
   @title
      ---
      FOE Tools | Sécurisation de place
      ---
   @hero
      h1.title.is-2.is-spaced
         ---
         Sécurisation de place
         ---
      h2.subtitle.is-4
         ---
         Cet outil permet de calculer le nombre de PF qu'un joueur doit
         mettre sur un GM pour bloquer sa place.
         ---
   @content
      secure-position
