div.dropdown
   div.dropdown-trigger
      button.button aria-haspopup="true" aria-controls="dropdown-menu"
         span -- ${global.i18n('lang.' + global.language())}
         span.icon.is-small
         i.fa.fa-angle-down aria-hidden="true"
   div#lang-menu.dropdown-menu role="menu"
      div.dropdown-content
         for(lang in global.languages())
            a.dropdown-item data-lang="${lang}" class=(lang == global.language() && 'is-active') -- ${global.i18n('lang.' + lang)}
