site-layout currentLocation="home"
   @title -- FOE Tools
   @content
      h3 -- Informations
      p
         ---
         Le site dispose pour l'instant d'un outil permettant de calculer
         le nombre de points qu'un joueur doit mettre sur son GM pour
         sécuriser les 5 premières places suivant un taux (grosses arches).
         ---
